<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.apps.photos.permission.GOOGLE_PHOTOS" /> <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.MonikaApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config_debug"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Monika"
        android:usesCleartextTraffic="true">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource" />
        </provider>

        <activity
            android:name=".home.MonikaSplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".home.HomePageActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true">
        </activity>

        <activity
            android:name=".login.LoginActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true" />

        <activity
            android:name=".login.PhoneLoginActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".subscribe.rank.SubscribeRankActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true" />

        <activity
            android:name=".account.home.AccountHomeActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true" />

        <activity
            android:name=".account.subscriberPost.UserSubscribePostListActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true" />

        <activity
            android:name=".account.income.AccountIncomeActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true" />

        <activity
            android:name=".common.permission.SimpleApplyPermissionActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true" />

        <activity
            android:name=".common.permission.SimpleApplyPermissionActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".account.edit.AccountEditActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true" />

        <activity
            android:name=".setting.MonikaSettingActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true" />
        <activity
            android:name=".post.publish.MonikaPublishPostActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".account.rank.AccountSubscribeRankActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true" />

        <activity
            android:name=".post.detail.MonikaPostDetailActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".subscribe.support.SubscriptionSupportActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true" />

        <activity
            android:name=".subscribe.plan.SubscribePlanActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".account.creator.ApplyToCreatorActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="adjustPan|stateHidden" />


    </application>

</manifest>